@model UserInfo

<h1>Welcome, @Model.FirstName!</h1>
<h2>User Info:</h2>
<p>First Name @Model.FirstName</p>
<p>Last Name @Model.LastName</p>
<p>Email: @Model.Email</p>
<p>User type: @Model.UserType</p>
<p>Referral Type: @Model.ReferralType</p>

